*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    height: 11vh;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    align-content: center;
    justify-content: space-between;
    font:uppercase;
    padding-right: 150px;
}
#icon{
    position: relative;
    display: none;
}
header h1{
    align-self: center;
    padding-left: 175px;
    font-size: 35px;
}
.headerclass{
    width: 40%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 200px; /* Fixed typo */
    font-size: 23px;
    font-weight: 600;
    color: grey;
    margin-left: 20px;
    padding-right: 35px;
}
.headerclass h5:hover{
    color: rgb(45,38,64);
    cursor: pointer;
}
#header-box{
    font-size: 20px;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 3px;
}
#header-box:hover{
    background-color: rgb(45,38,64);
    color: white;
    cursor: pointer;
}
#header-box h4:hover{
    color: white;
    cursor: pointer;
}
section{
    height: 525px;    
    background-color: rgb(45,38,64);
    display: flex;
    padding-top: 4em;
    padding-left: 12em;
    padding-right: 12em;

}
#col1{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#line{
    width: 12em;
    height: 2px;
    background-color: white;
}
#col1 h1{
    width: 100%;
    color: white;
    font-size: 55px;
    padding-top: 15px;
}
#col1 p{
    color: grey;
    margin-top: 1.5em;
    width: 80%;
    font-size: 17px;
    line-height: 1.6;
}
button{
    background-color: rgb(45,38,64);
    color: white;
    font-size: 20px;
    border: 0.5px solid rgb(255, 255, 255);
    padding: 15px;
    border-radius: 3px;
    margin-top: 1em;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(45,38,64);
    cursor: pointer;
}
#col2{
    width: 45%;
    height: 90%;
    /* background-color: orchid; */
    padding-left: 50px;
}
#col2 img{
    background-image: center;
    opacity: 1;
    height: 550px;
    width: 500px;
    background-size: cover;
}
#section-2{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 100%;
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-evenly;
}
#col-1{
    width: 50%;
    height: 100%;
    padding-left: 75px;
    background-color: rgb(255, 255, 255);
}
#col-1 img{
    height: 475px;
    width: 475px;
}
#col-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255); 
}
#col-2 h1{
    color: rgb(0, 0, 0);
    margin-top: 100px;
    font-size: 50px;
}
#col-2 p{
    margin-top: 15px;
    width: 65%;
    font-size: 20px;
    line-height: 1.6;
}
#button-2{
    width: fit-content;
    background-color: white;
    color: grey;
    font-size: 20px;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 3px;
    margin-top: 1em;
}
#button-2:hover{
    background-color: rgb(45,38,64);
    color: white;
    cursor: pointer;
}
#section-3{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 450px;
    padding: 0px 0px 0px 150px;
    padding-right: 75px;
    display: flex;
    flex-direction: column;
}
#line-2{
    width: 15em;
    height: 1px;
    background-color: rgb(169, 169, 169);
}
#section-3 h1{
    font-size: 50px;
    color: black;
    width: fit-content;
}
.thr_section{
    display: flex;
    height: 70%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}
#col_1{
    width:33%;
    background-color: rgb(255, 255, 255);
}
#col_1 h2{
    font-size: 30px;
}
#col_2{
    width:33%;
    background-color: rgb(255, 255, 255);
}
#col_2 h2{
    font-size: 30px;
}
#col_3{
    width:34%;
    background-color: rgb(255, 255, 255);
}
#col_3 h2{
    font-size: 30px;
}
#circle{
    width: 10%;
    height: 10%;
    border-radius: 80px;
    background-color: rgb(106, 186, 218);
}
.par{
    margin-top: 1em;
    width: 90%;
    font-size: 17px;
    color: grey;
    line-height: 1.5;
}
#section-4{
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    height: 400px;
    background-color: rgb(255, 255, 255);
}
#container{
    background-color: rgb(45,38,64);
    width: 100%;
    height: 90%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
#container h1{
    color: white;
    font-size: 50px;
    align-self: center;
}
#button-3{
    height: 50px;
    align-self: center;
}
#section-5{
    width: 100%;
    height: 200px;
    padding: 15px 140px;
    background-color: rgb(255, 255, 255);
}
#container-2{
    background-color: rgb(255, 255, 255);
    height: 100%;
}
#container-2 h1{
    color: black;
    margin-bottom: 8px;
}
#line_3{
    width: 100%;
    height: 1px;
    background-color: grey;
}
@media (max-width:1250px) {
    header{
        display: flex;
        height: 11vh;
        width: 100%;
        position: fixed;
        background-color: rgb(255, 255, 255);
        align-content: center;
        justify-items: space-between;
        font:uppercase;
        padding-right: 150px;
    }
    header h5{
        display: none;
    }
    #header-box{
        display: none;
    }
    #icon{
        display: block;
        justify-self: flex-end;
    }
    #icon:hover{
        cursor: pointer;
        header-box{
            display: flex;
            flex-direction: column;
            height: 70px;
            width: 50px;
            margin-top: 15px;
        }
    }
}